<header class="header-container bg-black">
    <div class="header-bg-img opacity-5 min-vh-95" style="background-image: url('./assets/img/bg0.jpg')"></div>
    <div class="header-data">
      <div class="header-avatar" style="background-image: url('./assets/img/perfil.jpg');"></div>
      <h1 class="header-title-name text-white">Cameron Williamson</h1>
      <h2 class="header-title-rol text-white">Ing. de Software</h2>
    </div>
    <!-- <div class="header-menu">
      <ul class="header-menu-social">
        <li class="header-menu-social-item"><iconify-icon icon="akar-icons:facebook-fill" style="color: white;" width="30" height="30"></iconify-icon></li>
        <li class="header-menu-social-item"><iconify-icon icon="akar-icons:linkedin-box-fill" style="color: white;" width="30" height="30"></iconify-icon></li>
        <li class="header-menu-social-item"><iconify-icon icon="akar-icons:github-fill" style="color: white;" width="30" height="30"></iconify-icon></li>
      </ul>
      <a class="header-menu-log" href="#"><iconify-icon icon="carbon:login" style="color: white;" width="30" height="30"></iconify-icon></a>
    </div> -->
</header>