<div class="section">
    <h3 class="section-title">Proyectos</h3>
    <ul class="section-items">
      <li class="project-item">
        <h3 class="project-title">e-commerce</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel soluta explicabo ab ipsa pariatur
           illo delectus iure aperiam voluptatum eligendi quam nihil asperiores molestiae dolorem, unde blanditiis laudantium, excepturi perspiciatis!</p>
      </li>
      <li class="project-item">
        <h3 class="project-title">red social</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel soluta explicabo ab ipsa pariatur
           illo delectus iure aperiam voluptatum eligendi quam nihil asperiores molestiae dolorem, unde blanditiis laudantium, excepturi perspiciatis!</p>
      </li>
      <li class="project-item">
        <h3 class="project-title">simulador</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel soluta explicabo ab ipsa pariatur
           illo delectus iure aperiam voluptatum eligendi quam nihil asperiores molestiae dolorem, unde blanditiis laudantium, excepturi perspiciatis!</p>
      </li>
    </ul>
  </div>