<nav class="navbar navbar-expand-lg fixed-top bg-dark">
    <div class="container-fluid container-fluid-flex-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse-flex-end" id="navbarSupportedContent">
        
        <div class="navbar-nav column-gap-10p">
          <div class="nav-item"><span class="iconify" style="color: white;" data-icon="akar-icons:facebook-fill" data-width="30" data-height="30"></span></div>
          <div class="nav-item"><span class="iconify" style="color: white;" data-icon="akar-icons:linkedin-box-fill" data-width="30" data-height="30"></span></div>
          <div class="nav-item"><span class="iconify" style="color: white;" data-icon="akar-icons:github-fill" data-width="30" data-height="30"></span></div>
          <div class="nav-item nav-item-log"><a href="#"><span class="iconify" data-icon="carbon:login" data-width="30" data-height="30"></span></a></div>
        </div>
      </div>
    </div>
  </nav>
