<div class="form-signin w-100 m-auto">
    <header class="text-center mb-4">
        <span class="iconify text-primary" data-icon="mdi:robot-happy" data-width="50" data-height="50"></span>
        <h1 class="text-primary">Bienvenido</h1>
    </header>

    <form [formGroup]="authForm" (ngSubmit)="submitForm" class="mb-4">
            <div class="form-floating mb-2">
                <input type="text" formControlName="username" class="form-control"  id="txt-username"  placeholder="username">
                <label class="form-label" for="txt-username">user</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" formControlName="password" class="form-control"  id="txt-password" placeholder="Password">
                <label class="form-label" for="txt-password">password</label>
            </div>

            <button class="w-100 btn btn-primary btn-lg mb-2" (click)="submitForm();" [disabled]="!authForm.valid">Acceder</button>
            <button class="w-100 btn btn-outline btn-lg mb-4" (click)="onRegister()">Registrarse</button>

            <div class="text-center">
                <a href="#" style="text-decoration: none;">Entrar como invitado</a>
            </div>
    </form>

    <div class="text-danger text-center" *ngIf="errorLog" ><p>Error al intentar loguear</p></div>

</div>