<div class="form-signin w-100 vh-100 m-auto">
    <header class="text-center mb-4">
        <h1 class="text-primary mb-4">Bienvenido</h1>
        <small>Ingrese sus credenciales para iniciar sesión, o cree un nuevo usuario colocando nombre y contraseña.</small>
    </header>

    <form [formGroup]="authForm" class="mb-4">
            <div class="form-floating mb-2">
                <input type="text" formControlName="username" class="form-control"  id="txt-username"  placeholder="username"    maxlength="25">
                <label class="form-label" for="txt-username">user</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" formControlName="password" class="form-control"  id="txt-password" placeholder="Password" maxlength="15">
                <label class="form-label" for="txt-password">password</label>
            </div>

            <button class="w-100 btn btn-primary btn-lg mb-2" (click)="onSubmit();">Acceder</button>
            <button class="w-100 btn btn-outline btn-lg mb-4" (click)="onRegister();">Registrarse</button>
    </form>
    
    <div class="text-center logo-auth">
        <img class="" src="assets/img/Arg_Programa.svg">
    </div>

    
</div>