<div class="final-msg">
    <h1 class="thanks">¡Gracias Por Su Visita!</h1>
    <div class="avatar" style="background-image: url('./assets/img/perfil.jpg');"></div>
    <h2>Cameron Williamson</h2>
    <p class="email">williamson@office.com</p>
    <!-- <ul class="header-menu-social">
      <li class="header-menu-social-item"><iconify-icon icon="akar-icons:facebook-fill" style="color: black;" width="30" height="30"></iconify-icon></li>
      <li class="header-menu-social-item"><iconify-icon icon="akar-icons:linkedin-box-fill" style="color: black;" width="30" height="30"></iconify-icon></li>
      <li class="header-menu-social-item"><iconify-icon icon="akar-icons:github-fill" style="color: black;" width="30" height="30"></iconify-icon></li>
    </ul> -->
  </div>