<div class="section">
  <h1 class="text-center agradecimiento">¡Gracias Por Su Visita!</h1>
  <div class="avatar" style="background-image: url('assets/img/perfil.jpeg');"></div>
  <h2 class="text-center">{{ txtNombre }}</h2>
  <p class="email text-center">{{ txtEmail }}</p>
  <div class="d-flex flex-row mb-4" style="justify-content: space-evenly;">
    <span class="iconify" style="color: black;" data-icon="akar-icons:facebook-fill" data-width="50" data-height="50"></span>
    <span class="iconify" style="color: black;" data-icon="akar-icons:linkedin-box-fill" data-width="50" data-height="50"></span>
    <span class="iconify" style="color: black;" data-icon="akar-icons:github-fill" data-width="50" data-height="50"></span>
  </div>
</div>