<div class="section">
    <h3 class="section-title">Sobre Mi</h3> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aperiam ex recusandae id.
      Exercitationem, quam debitis qui, vel culpa voluptate esse blanditiis est dolorem commodi ex
       veniam natus recusandae officia.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aperiam ex recusandae id.
    Exercitationem, quam debitis qui, vel culpa voluptate esse blanditiis est dolorem commodi ex
      veniam natus recusandae officia.</p>
  </div>