
<div class="container bg-light pt-3" >
    <div class="text-center-mb-1">
        <h1 class="mb-4 text-center">Educacion</h1>
    </div>
    <div *ngIf="!onForm; else formTemp">
        <div class="row text-center mb-4">
            <div class="col">
                <div class="btn" (click)="crearItem()">
                    <span class="iconify" data-icon="material-symbols:add" data-width="30" data-height="30"></span>
                    añadir
                </div>
            </div>
            <div class="col">
                <div class="btn" (click)="router.navigateByUrl('/');">
                    <span class="iconify" data-icon="material-symbols:home" data-width="30" data-height="30"></span>
                    home
                </div>
            </div>
        </div>
    
        <div *ngIf="educaciones.length > 0; else noItemsTemp">
            <div class="d-flex flex-column" *ngFor="let edu of educaciones">
        
                <div class="d-flex align-items-center flex-row justify-content-between mb-2 ">
                    <div class="d-flex flex-row me-3">
                        <div class="btn px-1" (click)="editarItem(edu)">
                            <span class="iconify me-2" data-icon="material-symbols:edit" data-width="30" data-height="30"></span>
                        </div>
                        <div class="btn px-1" (click)="eliminarItem(edu)">
                            <span class="iconify" data-icon="material-symbols:delete-outline" data-width="30" data-height="30"></span>
                        </div>
                    </div>
                    <div class="text-truncate">
                        {{ edu.titulo }}
                    </div>
                </div>
            </div>
        </div>

        <ng-template #noItemsTemp> 
            <p>¡Sin Items! Comienza agregando un item a la lista.</p>
        </ng-template>
    </div>
    
    <ng-template #formTemp> 
        <div class="container bg-light pt-3">
            <form [formGroup]="formItem" (submit)="grabar()">
                <h1>{{ formItem.controls['id'].value == null ? 'Nuevo' : 'Edicion'}}</h1>
    
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="titulo" id="titulo">
                    <label for="titulo">Titulo</label>
                </div>
    
                <label for="selectInstituto" class="mb-2">Instituciones</label>
                
                <div class="my-2">
                    <input type="checkbox" name="Nuevo Instituto" id="newInstituto" (change)="onNuevoInstituto = !onNuevoInstituto">
                    <label for="newInstituto" class="ms-1">Registrar Nuevo Instituto</label>
                </div>

                <ng-container *ngIf="!onNuevoInstituto; else formInstituto">
                    <select class="form-select form-select-lg mb-3" id="selectInstituto" formControlName="instituto" aria-label=".form-select-lg example">
                        <option *ngFor="let insti of instituciones" [value]="insti.id">{{ insti.nombre }}</option>
                    </select>
                </ng-container>

                <ng-template #formInstituto>
                    <form [formGroup]="formInstitucion" class="my-3">
                        <small class="text-secondary">Nuevo Instituto</small>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="nombreInstitucion" formControlName="nombre">
                            <label for="nombreInstitucion">nombre</label>
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="logoInstitucion" formControlName="logo">
                            <label for="logoInstitucion">logo</label>
                        </div>
                    </form>
                </ng-template>
                
    
                <div class="row  row-cols-1 row-cols-lg-2 mt-2 mb-4">
                    <div class="col mb-2">
                        <label for="start-date">Fecha de Inicio:</label>
                        <input type="date" id="start-date" formControlName="fechainicio" >
                    </div>
        
                    <div class="col mb-2">
                        <label for="end-date">Fecha de Fin:</label>
                        <input type="date" id="end-date" formControlName="fechafin">
                    </div>
                </div>
    
                <div>
                    <button class="btn btn-primary w-100 mb-1" type="submit">Grabar</button>
                    <button class="btn btn-secondary w-100 mb-4" (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>