
<app-forbidden *ngIf="logStatus == 'ERROR_FORBIDEN' "></app-forbidden>

<div class="container bg-light pt-3" *ngIf="logStatus != 'ERROR_FORBIDEN'" >
    <div class="text-center-mb-1">
        <h1 class="mb-4 text-center">Educacion</h1>
    </div>
    <div *ngIf="!onForm">
        <div class="row text-center mb-4">
            <div class="col">
                <div class="btn" (click)="crearItem()">
                    <span class="iconify" data-icon="material-symbols:add" data-width="30" data-height="30"></span>
                    añadir
                </div>
            </div>
            <div class="col">
                <div class="btn" (click)="navegarA('/')">
                    <span class="iconify" data-icon="material-symbols:home" data-width="30" data-height="30"></span>
                    home
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" *ngIf="logStatus != 'HIDDEN'" 
                [ngClass]="{'alert-success': logStatus == 'SUCCESS',
                            'alert-danger': logStatus == 'ERROR'}">
            <p *ngIf="logStatus == 'SUCCESS'"> Cambios realizados con exito. </p>
            <p *ngIf="logStatus == 'ERROR'"> Ocurrio un error inesperado, intente de nuevo más tarde. </p>

            <button type="button" class="btn-close" aria-label="Close" (click)="onCloseLog()"></button>
        </div>
    
        <div class="d-flex flex-column" *ngFor="let edu of educaciones">
        
            <div class="d-flex align-items-center flex-row justify-content-between mb-2 ">
                <div class="d-flex flex-row me-3">
                    <div class="btn px-1" (click)="editarItem(edu)">
                        <span class="iconify me-2" data-icon="material-symbols:edit" data-width="30" data-height="30"></span>
                    </div>
                    <div class="btn px-1" (click)="eliminarItem(edu)">
                        <span class="iconify" data-icon="material-symbols:delete-outline" data-width="30" data-height="30"></span>
                    </div>
                </div>
                <div class="text-truncate">
                    {{ edu.titulo }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="container bg-light pt-3" *ngIf="onForm">
        <form [formGroup]="formItem" (submit)="grabar()">
            <h1>{{ formItem.controls['id'].value == null ? 'Nuevo' : 'Edicion'}}</h1>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="titulo" id="titulo">
                <label for="titulo">Titulo</label>
            </div>

            <label for="selectInstituto">Instituciones</label>
            <select class="form-select form-select-lg mb-3" id="selectInstituto" formControlName="instituto" aria-label=".form-select-lg example">
                <option *ngFor="let insti of instituciones" [value]="insti.id">{{ insti.nombre }}</option>
            </select>

            <div>
                <label for="start-date">Start date:</label>
                <input type="date" id="start-date" formControlName="fechainicio" >
            </div>

            <div class="mb-4">
                <label for="end-date">End date:</label>
                <input type="date" id="end-date" formControlName="fechafin">
            </div>

            <div>
                <button class="btn btn-primary w-100 mb-1" type="submit">Grabar</button>
                <button class="btn btn-secondary w-100 mb-4" (click)="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>

</div>