<div class="section">
    <h3 class="section-title">Hard-Soft Skills</h3>
    <ul class="section-items">
      <li class="skills-item">
        <h3 class="skill-name">Resolucion de Problemas</h3>
        <div class="skill-progress">
          <div class="skill-p-bar">
            <div class="p-bar-75"></div>
          </div>
          <p class="skill-percent">75%</p>
        </div>
      </li>
      <li class="skills-item">
        <h3 class="skill-name">Diseño de Sistemas</h3>
        <div class="skill-progress">
          <div class="skill-p-bar">
            <div class="p-bar-90"></div>
          </div>
          <p class="skill-percent">90%</p>
        </div>
      </li>
      <li class="skills-item">
        <h3 class="skill-name">Programacion Orientada a Objetos</h3>
        <div class="skill-progress">
          <div class="skill-p-bar">
            <div class="p-bar-75"></div>
          </div>
          <p class="skill-percent">75%</p>
        </div>
      </li>
    </ul>
  </div>