:root {
  /* backgrounds */
  --bg-gris-claro: #E4E4E4;
  --bg-negro-oscuro: #000;

}

/* ------------------------------------------------ */
 /* declaración de las fuentes usadas */
 
@font-face {
  font-family: 'RobotoThin';
  src: url("assets/fonts/roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: 'RobotoLight';
  src: url("assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'RobotoMedium';
  src: url("assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'RobotoBold';
  src: url("assets/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'RobotoExtraBold';
  src: url("assets/fonts/roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: 'RobotoBlack';
  src: url("assets/fonts/roboto/Roboto-Black.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'RobotoRegular';
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------ */
 /* overwrite de algunas clases bootstrap */
.navbar>.container-fluid-flex-end {
  display: flex;
  justify-content: flex-end;
}
/* ------------------------------------------------ */











