:root {
  /* backgrounds */
  --bg-gris-claro: #E4E4E4;
  --bg-negro-oscuro: #000;

}

@font-face {
  font-family: 'RobotoThin';
  src: url("../assets/fonts/roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: 'RobotoLight';
  src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'RobotoMedium';
  src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'RobotoBold';
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'RobotoExtraBold';
  src: url("../assets/fonts/roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: 'RobotoBlack';
  src: url("../assets/fonts/roboto/Roboto-Black.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'RobotoRegular';
  margin: 0;
  padding: 0;
}

.bg-gray {
  background-color: var(--bg-gris-claro);
}

.bg-black{
  background-color: var(--bg-negro-oscuro);
}

.opacity-5{
  opacity: 0.5;
}

.opacity-10{
  opacity: 1;
}

.header-bg-img {
  background-size: cover;
  background-position: 50%;
}

.header-menu{
  width: auto;
  margin: 0 auto;
}

.min-vh-95 {
  min-height: 95vh;;
}

.start-0{
  left: 0;
}

.end-0{
  right: 0;
}

.mx-4{
  margin-right: 1.5rem;
  margin-left: 1.5rem;

}

.mx-auto{
  margin-left: auto;
  margin-right: auto
}

.w-50{
  width: 50%;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.bg-dark-primary {
  background-color: var(--bg-negro-oscuro);
  opacity: 0.5;
}

.text-center {
  text-align: center !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.text-white{
  color: #fff !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.mt-n5 {
  margin-top: -3rem !important;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.header-data{
  position: absolute;
  left:50%;
  top:25%;
  width: 600px;
  height: 330px;
  transform: translate(-50%, -15%);
  text-align: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */

}

.header-title{
  font-family: 'RobotoBold';
}

.header-title-name{
  font-family: 'RobotoBlack';
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-title-rol{
  font-family: 'RobotoBold';
  font-size: 24px;
  margin-top: 0;
}

.header-avatar{
  width: 175px;
  height: 175px;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto;
}

.header-menu{
  position: absolute;
  right: 40px;
  top: 30px;
  color: white;
  display: flex;
  flex-direction: row;
}

ul.header-menu-social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right: 50px;
}

li.header-menu-social-item{
  margin-left: 10px;
}
.header-menu-log {
  text-decoration: none;
  color: inherit;
}

.main{
  position: relative;
  top: -60px;
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin: 0 auto;
  padding: 80px 35px 80px 80px;
  border-radius: 25px;
  backdrop-filter: saturate(200%) blur(30px);
  box-shadow: inset 0 0px 1px 1px rgb(254 254 254 / 90%), 0 20px 27px 0 rgb(0 0 0 / 5%) !important;
}

.section{
  font-family: 'RobotoRegular';
  font-size: 24px;
}

.section-title{
  font-family: 'RobotoBold';
  font-size: 48px;
}

ul.section-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.section-item{
  width: 100%;
  height: 125px;
  background-color: #F0F0F0;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
  border-radius: 2%;
  display: flex;
  flex-direction: row;
}

.exp-item{
  width: 100%;
  height: 125px;
  background-color: #F0F0F0;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  /* box-shadow: inset 0 0px 1px 1px rgb(254 254 254 / 90%), 0 20px 27px 0 rgb(0 0 0 / 5%) !important; */

}

.exp-item-logo{
  width: 125px;
  height: 125px;
  margin-right: 29px;
  background-size: cover;
  background-position: 50%;
  border-radius: 2%;
}

.exp-item-rol{
  font-family: 'RobotoBold';
  font-size: 40px;
  margin: auto 0;
  padding: 0;
  margin-right: 50px;
}

.exp-item-place{
  color: #7E7E7E;
  margin: auto 55px auto 0;
  text-align: center;
}

.exp-item-details{
  right: 75px;
  height: auto;
  text-align: center;
}

.exp-item-time{
  font-family: 'RobotoRegular';
  font-size: 24px;
  color: #7E7E7E;
  margin-bottom: 20px;
}

.exp-item-dates{
  font-family: 'RobotoMedium';
  margin: 0;
  font-size: 20px;
  color: #7E7E7E ;
}

.skill-name{
  font-family: 'RobotoBold';
  font-size: 24px;
}

.skill-progress{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.skill-p-bar{
  width: 80%;
  height: 30px;
  margin-right: 20px;
  background-color: #E8E8E8;
}

.p-bar-75{
  width: 75%;
  height: 100%;
  background-color: #00A3FF;
}

.p-bar-90{
  width: 90%;
  height: 100%;
  background-color: #00A3FF;
}

.skill-percent{
  margin: 0;
  padding: 0;
  text-align: center;
}

.project-title{
  font-family: 'RobotoBold';
  font-size: 36px;
  color: #00A3FF;
}

.final-msg{
  width: 100%;
  height: auto;
  align-items: center;
  font-family: 'RobotoThin';
  text-align: center;
}

.thanks{
  font-size: 96px;
  color: #008BD9;
}

.avatar{
  width: 125px;
  height: 125px;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto;
}

.email{
  margin: 50px 0 0 0;
  font-family: 'RobotoMedium';
  font-size: 32px;
}