<div class="section">
    <h3 class="section-title">Educacion</h3>
    <ul class="section-items" *ngFor="let edu of educaciones">

      <li class="section-item">
        <div class="exp-item-logo" style="background-image: url('./assets/img/siglo21.png');"></div>
        <h1 class="exp-item-rol">{{ edu.titulo }}</h1>
        <div class="exp-item-details">
          <h3 class="exp-item-time">{{ edu.academia }}</h3>
          <p class="exp-item-dates">{{ edu.fechaInicio }} - {{ edu.fechaFin }}</p>
        </div>
      </li>
    </ul>
  </div>