<div class="section">
  <h3 class="section-title">Educacion</h3>
  <div class="d-flex flex-column row-gap-10p" *ngFor="let edu of educaciones">
    <div class="section-item">
      <div class="row ">
        <div class="col-lg-8">
          <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
              <div class="logo" style="background-image: url('src/img/logo1.jpg');"></div>
            </div>
              <div class="col">
                <div class="d-flex h-100 justify-content-center flex-column text-center">
                  <h1 class="item-rol m-0">{{ edu.titulo }}</h1>
                </div>
              </div>
              <div class="col">
                <div class="d-flex h-100 justify-content-center flex-column text-center">
                  <h2 class="item-place m-0">{{ edu.academia }}</h2>
                </div>
              </div>
          </div>
        </div>

        <div class="col-lg-4 item-work">
          <div class="d-flex h-100 justify-content-center flex-column text-center">
            <p class="item-dates">{{ edu.fechaInicio }} - {{ edu.fechaFin }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>