<div class="section">
    <h3 class="section-title">Educacion</h3>
    <ul class="section-items">
      <li class="section-item">
        <div class="exp-item-logo" style="background-image: url('./assets/img/siglo21.png');"></div>
        <h1 class="exp-item-rol">Ingenieria de Software</h1>
        <div class="exp-item-details">
          <h3 class="exp-item-time">Universidad Siglo21</h3>
          <p class="exp-item-dates">Enero 2019 - Noviembre 2019</p>
        </div>
      </li>
      <li class="section-item">
        <div class="exp-item-logo" style="background-image: url('./assets/img/google_logo.png');"></div>
        <h1 class="exp-item-rol">Desarrollo de Aplicaciones Mobile</h1>
        <div class="exp-item-details">
          <h3 class="exp-item-time">Academia de Google</h3>
          <p class="exp-item-dates">Enero 2019 - Noviembre 2019</p>
        </div>
      </li>
    </ul>
  </div>